body.inner {
  width: 100vw;
  padding-left: 0;
}

body.inner > * {
  width: 320px;
}

body.inner * {
  box-sizing: border-box;
}

.inner__header {
  margin: 0;
  padding: 0;
}

.inner__main {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.inner__footer {
  padding-left: 16px;

  letter-spacing: 1px;
}

.inner__main-header {
  margin: 0;
  padding: 0;
}

.inner__footer {
  color: #000000;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

.main-nav__list {
  position: relative;
  left: calc(50% - 50vw);

  width: 100vw;
  margin: 0;
  padding: 0;

  background-color: #bdc9f1;
  list-style: none;
}

.main-nav__item {
  min-height: 45px;

  border-bottom: none;
}

.main-nav__item a {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 45px;
  padding-top: 4px;

  color: black;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;

  background-color: #bdc9f1;
  box-shadow: inset 0 -4px 4px 0 rgba(0, 0, 0, 0.2);
}

.main-nav__item:first-of-type a {
  min-height: 49px;
  padding-top: 8px;
}

.main-nav__item a:hover {
  text-decoration: underline;

  background-color: #5872c6;
}

.main-nav__item a:active {
  color: white;
  text-decoration: none;

  background-color: #283b79;
}

.main-nav__item--current a,
.main-nav__item--current a:hover,
.main-nav__item--current a:active {
  color: #000000;
  text-decoration: none;

  background-color: #ffffff;
}

.header--inner {
  position: static;

  display: block;
  width: 253px;
  padding-top: 19px;

  color: #232223;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: left;
}

.page-content {
  color: #232223;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.page-content__part {
  margin-bottom: 15px;
}

.chapter__header {
  margin: 0;
  padding-top: 47px;

  font-size: 28px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 2px;
}

.chapter--design .chapter__header {
  width: 200px;
}

.chapter--typesetting .chapter__header {
  padding-top: 41px;
}

.chapter--js .chapter__header {
  padding-top: 40px;
  margin-bottom: 40px;
}

.chapter__lead {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 40px;
  padding: 0;
  padding-right: 17px;

  letter-spacing: 1px;
}

.chapter--typesetting .chapter__lead {
  margin-bottom: 46px;
}

.chapter__img {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.img-wrapper--pink {
  margin-bottom: 0;
}

.chapter__img img {
  display: block;
}

.chapter__img figcaption {
  margin: 0;
  margin-top: 4px;
  padding: 0;

  color: #000000;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
}

.img-wrapper--orphey {
  display: flex;
  margin-bottom: 29px;
}

.img-wrapper--mvideo {
  display: flex;
}

.img-wrapper--magick {
  margin-bottom: 28px;
}

.img-wrapper--mvideo figcaption {
  position: relative;
  top: -4px;

  margin: 0;
  margin-left: 7px;

  line-height: 15px;
}

.img-wrapper--orphey figcaption {
  position: relative;
  top: -3px;

  margin: 0;
  margin-left: 9px;
}

.img-wrapper--nerds figcaption {
  width: 245px;
  margin-top: 7px;
}

.img-wrapper--gllacy figcaption {
  margin-top: 6px;
}

.img-wrapper--pink figcaption {
  margin-top: 6px;
  width: 100%;
}

.img-wrapper--keksobooking figcaption {
  margin-top: 7px;
}

@media (min-width: 768px) {
  body.inner > * {
    width: 768px;
  }

  .inner-main {
    margin-bottom: 117px;
  }

  .inner__footer {
    padding-left: 30px;
    padding-right: 30px;

    font-size: 14px;
    line-height: 17px;
  }

  .main-nav__item {
    min-height: 83px;
  }

  .main-nav__item a,
  .main-nav__item:first-of-type a {
    min-height: 83px;
    padding-top: 23px;
  }

  .main-nav__item a {
    font-size: 18px;
    line-height: 32px;
  }

  .page-content {
    padding-left: 30px;
    padding-right: 30px;

    font-size: 14px;
    line-height: 17px;
  }

  .header--inner {
    width: 100%;
    padding-top: 60px;
  }

  .chapter__header {
    padding-top: 44px;
    order: -3;
  }

  .chapter--design .chapter__header {
    width: 100%;
  }

  .chapter__lead {
    margin-top: 11px;
    margin-bottom: 33px;
    order: -2;
  }

  .chapter--design .chapter__lead {
    width: 100%;
  }

  .chapter--design {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 21px;
  }

  .chapter__img-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }

  .img-wrapper--mvideo {
    order: -1;
  }

  .img-wrapper--me {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 67px;
  }

  .img-wrapper--me picture {
    position: relative;
    top: 23px;
    left: 2px;

    transform: rotate(7deg);
  }

  .img-wrapper--me figcaption {
    width: 182px;
    padding-top: 51px;
    padding-left: 57px;
  }

  .img-wrapper--orphey {
    margin-bottom: 0;
  }

  .img-wrapper--orphey figcaption {
    margin-left: 13px;
  }

  .img-wrapper--timetable {
    padding-top: 91px;
  }

  .chapter--typesetting {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .chapter--typesetting .chapter__lead {
    margin-top: 16px;
    margin-bottom: 37px;
  }

  .chapter--typesetting .chapter__img-wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }

  .chapter__img:last-of-type.img-wrapper--pink {
    margin-bottom: 41px;
  }

  .img-wrapper--pink {
    display: flex;
    order: -1;
  }

  .img-wrapper--pink figcaption {
    position: relative;
    top: -4px;

    margin-top: 0;
    margin-left: 11px;
  }

  .img-wrapper--nerds {
    position: relative;;
    top: -8px;
    left: auto;
    z-index: 2;
  }

  .img-wrapper--nerds figcaption {
    width: 213px;
    margin-top: 9px;
  }

  .img-wrapper--barbershop {
    position: relative;
    top: auto;
    right: 17px;
  }

  .img-wrapper--barbershop figcaption {
    width: 284px;
    margin-top: 6px;
  }

  .img-wrapper--gllacy {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 22px;
  }

  .img-wrapper--gllacy picture {
    position: relative;
    top: -3px;
    left: 7px;

    transform: rotate(5deg);
  }

  .img-wrapper--gllacy figcaption {
    padding-top: 18px;
    padding-left: 32px;
  }

  .chapter--js .chapter__header {
    margin-bottom: 35px;
  }

  .chapter--js .img-wrapper {
    display: flex;
  }

  .img-wrapper--magick {
    margin-bottom: 25px;
  }

  .img-wrapper--magick figcaption {
    position: relative;
    top: -3px;

    width: 296px;
    margin-top: 0;
    padding-left: 12px;
  }

  .img-wrapper--keksobooking figcaption {
    position: relative;
    top: -4px;

    margin-top: 0;
    padding-left: 13px;
  }
}

@media (min-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  body.inner {
    max-width: 1200px;
    margin: 0 auto;
  }
  body.inner > * {
    width: 1200px;
    padding-left: 25px;
    padding-right: 25px;

    font-size: 16px;
    line-height: 24px;
  }

  .inner__header {
    padding-top: 8px;
  }

  .inner__main {
    margin-bottom: 71px;
  }

  .main-nav__list {
    position: static;

    display: flex;
    width: 100%;

    background-color: inherit;
  }

  .main-nav__item {
    margin-right: 58px;
  }

  .main-nav__item a {
    width: auto;

    font-size: 20px;
    line-height: 32px;
    color: #283b79;
    text-decoration: underline;

    background-color: inherit;
    box-shadow: none;
  }

  .main-nav__item a:hover {
    color: #a74040;
    text-decoration: underline;

    background-color: inherit;
  }

  .main-nav__item a:active {
    text-decoration: none;

    background-color: inherit;
  }

  .main-nav__item--current a,
  .main-nav__item--current a:hover,
  .main-nav__item--current a:active {
    color: #000000;
    text-decoration: none;
  }

  .header--inner {
    margin-bottom: 40px;
    padding-top: 24px;

    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
  }

  .chapter__header {
    letter-spacing: 3px;
  }

  .chapter__lead {
    margin-top: 6px;
    margin-bottom: 45px;
  }

  .chapter__img figcaption {
    font-size: 14px;
    line-height: 17px;
  }

  .img-wrapper--mvideo {
    margin-bottom: 0;
  }

  .img-wrapper--mvideo figcaption {
    top: -3px;

    margin-left: 13px;
    width: 585px;
  }

  .chapter--design {
    position: relative;
  }

  .img-wrapper--me {
    position: absolute;
    top: 362px;
    right: -23px;

    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .img-wrapper--me picture {
    transform: rotate(-9deg);
  }

  .img-wrapper--me figcaption {
    align-self: flex-end;
    width: 258px;
    margin-top: 26px;
    margin-right: 32px;
    padding: 0;
  }

  .chapter__img-wrapper {
    flex-direction: row-reverse;
  }

  .img-wrapper--timetable {
    margin-right: 77px;
    padding-top: 42px;
  }

  .img-wrapper--timetable figcaption {
    margin-top: 7px;
  }

  .img-wrapper--orphey picture {
    position: relative;
    top: -23px;
  }

  .img-wrapper--orphey figcaption {
    top: -26px;

    width: 132px;
  }

  .chapter--typesetting {
    position: relative;
    margin-bottom: 7px;
    padding-bottom: 37px;
  }

  .chapter--typesetting .chapter__header {
    width: 100%;
    padding-top: 34px;
  }

  .chapter--typesetting .chapter__lead {
    margin-top: 7px;
    margin-bottom: 28px;
  }

  .img-wrapper--pink figcaption {
    width: 363px;
    margin-left: 18px;
  }

  .img-wrapper--barbershop {
    position: absolute;
    top: 263px;
    right: -6px;
  }

  .img-wrapper--barbershop figcaption {
    width: 313px;
  }

  .img-wrapper--gllacy {
    flex-direction: column;
    margin-left: 8px;
  }

  .img-wrapper--gllacy picture {
    transform: none;
  }

  .img-wrapper--gllacy figcaption {
    margin-top: 0;
    padding-top: 3px;
    padding-left: 8px;
  }

  .img-wrapper--nerds {
    position: relative;
    top: -18px;
    left: 6px;
  }

  .img-wrapper--nerds img {
    transform: rotate(16deg) translate(28px, 4px);
  }

  .img-wrapper--nerds figcaption {
    width: 272px;
    margin-top: 0;
  }

  .chapter--js {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .chapter--js .chapter__header {
    width: 100%;
    margin-bottom: 31px;
  }

  .chapter--js .img-wrapper {
    flex-direction: column;
  }

  .img-wrapper--magick figcaption {
    width: 316px;
    padding-top: 11px;
    padding-left: 0;
  }

  .img-wrapper--keksobooking {
    position: relative;
    left: 34px;
    padding-top: 41px;
  }

  .img-wrapper--keksobooking figcaption {
    width: 354px;
    padding-top: 12px;
    padding-left: 0;
  }
}